.card-item {
}
.card-title {
}
.card-content {
  margin-top: 3rem;
  display: flex;
}
.card-content img {
  display: inline-block;
  width: 120px;
  border: 1px solid #3e50af;
  padding: 1rem;
}
.card-des {
  text-align: left;
  font-size: 1.5rem;
  padding-left: 2rem;
}
