
.card-item {
  
}
.card-title {
  text-align: left;
}
.card-content {
  margin: 3rem;
}
.card-content img {
  float: left;
  width: 120px;
  border: 1px solid #3e50af;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
  
}
.card-des {
  text-align: justify;
  font-size: 1.5rem;
}
