.card-item {
}

.card-title {
  text-align: left;
}
.card-content {
  margin: 3rem;
}
.card-content img {
  margin-left: -3rem;
  float: left;
  width: 80px;
  border: 1px solid #3e50af;
  padding: 1rem;
  margin-right: 2rem;
  margin-bottom: 0.5rem;
  overflow: auto;
}
.card-des {
  margin-left: -3rem;
  text-align: left;
  font-size: 1.5rem;
}
