.about {
  text-align: center;

  background-color: #efefef;
}
.heading {
  padding: 3rem 10rem;
}
.heading-title {
  font-size: 1.8rem;
  line-height: 3.4rem;
}
.heading-des {
  margin-top: 2rem;
  font-size: 1.4rem;
  line-height: 3rem;
}
