@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* Reset css */
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
html {
  font-family: "Poppins";
  font-size: 62.5%;
  line-height: 1.6rem;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.app {
  display: grid;
  grid-template-columns: 200px 1fr;
  overflow-x: hidden;
}

/* Mobile & Tablet */
@media (max-width: 1023px) {
  .list-card {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .content {
    margin: 2rem 5rem !important;
  }
  .list-card {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .heading {
    padding: 3rem 7rem !important;
  } 
  footer {
    margin: 0rem -5rem !important;
  }
  footer p {
    text-align: center;
  }
}
/* Mobile */
@media (max-width: 739px) {
  .content {
    margin: 2rem 3rem !important;
  }
  .heading {
    padding: 4rem !important;
  }
  .app {
    display: flex;
    flex-direction: column;
  }
  .side-bar .menu-item {
    display: none;
  }
  .menu-mobile {
    background-color: #191818;
  }
  .menu-mobile .menu-item-mobile:hover {
    background-color: #999;
  }

  .header-mobile {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .icon-menu {
    display: block;
    color: #fff;
    align-self: center;
    font-size: 2rem;
    padding-right: 2rem;
    cursor: pointer;
  }
  
  footer p {
    text-align: center;
  }
}
